<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <script src="/add_module.js"></script>
</head>

<body>
    <center>
        <h1>add a module</h1>
        <label for="module_name">module name</label><br>
        <input id="module_name" placeholder="short, yet descriptive"><br><br>
        <label for="repository">github repository</label><br>
        <input id="repository" placeholder="user/repo">

        <br><br>
        <button onclick="submit()">done, lets go</button>
    </center>
</body>

</html>