<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <script src="/pkg.js"></script>
    <title>moduland &middot view module</title>
</head>

<body onload="load()">
    <center>
        <h1 id="module_name">...</h1>
        <a id="versions" href="versions"><h5 id="version">...</h5></a>
        <code id="install_command">...</code><br><br>
        <div id="card" class="github-card" data-width="35%" data-height="" data-theme="default"></div>
    </center>

    <footer>
        <a class="no-decoration" href="/">
            go home
        </a>
    </footer>
</body>

</html>